services:
  # Основное Go-приложение
  backend:
    build: 
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "80:8080"
    volumes:
      # Прокидываем файл БД, чтобы данные не терялись
      - ./tqueue.db:/app/tqueue.db
    restart: always

  # Телеграм бот
  bot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    depends_on:
      - backend
    environment:
      # Внутри Docker сеть работает по именам сервисов
      # Бот будет стучаться не на localhost, а на "http://backend:8080"
      - GO_SERVER_URL=http://backend:8080
    restart: always
